@{
    Layout = "_Layout";
}

@model Bakery.Models.Flavor
@using Bakery.Models

<h2>Flavors</h2>
<hr>
<h3>View Flavor</h3>

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>

<h4>Treats</h4>
@if (@Model.TreatFlavors.Count == 0)
{
    <p>This flavor does not apply to any treats.</p>
}
@foreach (TreatFlavor treatFlavor in Model.TreatFlavors)
{
    <p>@treatFlavor.Treat.Name</p>
}

@Html.ActionLink("Add Treat", "AddTreat", new {id = Model.FlavorId}, new {@class="btn small"})
@Html.ActionLink("Edit Flavor", "Update", new {id = Model.FlavorId}, new {@class="btn small"})
@Html.ActionLink("Delete Flavor", "Delete", new {id = Model.FlavorId}, new {@class="btn small"})